 <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 Batlefield!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<table style="clear: both; width: 1024px;height: 605px; background-color: transparent;   border-spacing: 1px; margin-top: 5px; padding-bottom: 35px">
 <tr><td style="padding: 1px">

 <div style=" width: 210px; height: 600px; float: left;">

  <div style =" background-color: lightsteelblue;  float: none; text-align: center; opacity: 1;" >
   <span style="font-size: 22px; "><b>List of Heroes</b></span>  </div>
  <div id = "batlefieldList" style =" width: auto; height: auto;   opacity: 1;"><b> </b></div>
 </div>

 <div style=" width: 802px; height: 601px; float: right;">
 <svg id="mySvg" width = "802px" height = "601px" style="background-color: whitesmoke; border: 1px solid #000000; float: right"  xmlns="http://www.w3.org/2000/svg">
<text x="0" y="598" fill="red"><tspan style="font-size: 10px;">(0,0)</tspan></text>
<text x="0" y="300" fill="red"><tspan style="font-size: 10px;">(0,300)</tspan></text>
<text x="0" y="10" fill="red"><tspan style="font-size: 10px;">(0,600)</tspan></text>

<text x="770" y="598" fill="red"><tspan style="font-size: 10px;">(800,0)</tspan></text>
<text x="760" y="300" fill="red"><tspan style="font-size: 10px;">(800,300)</tspan></text>
<text x="760" y="10" fill="red"><tspan style="font-size: 10px;">(800,600)</tspan></text>

<text x="380" y="598" fill="red"><tspan style="font-size: 10px;">(400,0)</tspan></text>
<text x="380" y="10" fill="red"><tspan style="font-size: 10px;">(400,600)</tspan></text>

</svg>
</div>
 </td></tr>
</table>



<!--</section>-->
<!--&lt;!&ndash;<section>&ndash;&gt;-->
<!--<div style="height: 80px; width: 100%;  clear: both; background-color: #007fff">-->
<!--</div>-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->