 <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 Batlefield!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<div style="clear: both; width: 1024px">
<div style="width: 21%; height: 600px; float: left; border: 1px solid lightgray;">
<div style =" background-color: lightsteelblue;  float: none; border: 1px solid lightgray; text-align: center;" ><b> List of Heroes </b></div>
<div id = "list" style =" width: auto; height: auto; background-color: white; float: none; border: 1px solid lightgray; position: relative " ><b> </b></div>
</div>

<svg id="mySvg" width="801" height="601" style="background-color: whitesmoke; border: 1px solid #000000; float: right"  xmlns="http://www.w3.org/2000/svg">
<text x="0" y="598" fill="red"><tspan style="font-size: 10px;">(0,0)</tspan></text>
<text x="0" y="300" fill="red"><tspan style="font-size: 10px;">(0,300)</tspan></text>
<text x="0" y="10" fill="red"><tspan style="font-size: 10px;">(0,600)</tspan></text>

<text x="770" y="598" fill="red"><tspan style="font-size: 10px;">(800,0)</tspan></text>
<text x="760" y="300" fill="red"><tspan style="font-size: 10px;">(800,300)</tspan></text>
<text x="760" y="10" fill="red"><tspan style="font-size: 10px;">(800,600)</tspan></text>

<text x="380" y="598" fill="red"><tspan style="font-size: 10px;">(400,0)</tspan></text>
<text x="380" y="10" fill="red"><tspan style="font-size: 10px;">(400,600)</tspan></text>




</svg>


</div>



<!--</section>-->
<!--<section>-->
<!--<div style="height: 80px; width: 100%;  clear: both">-->
<!--</div>-->
<!--</section>-->