
<div style=" padding-bottom: 5px;  ">

<div style="width: 100%;background-color: yellow; text-align: center ; opacity: 0.8; margin-top: 5px">
       <span style="font-size: 25px;"><b>THIS IS THE DATABASE USER INTERFACE</b></span></div>
    </div>





    <div style=" width: 24%; height: 600px; float: left;">
        <img src="./img/noAvatar.png" width="100%">
        <div style =" background-color: lightsteelblue;  float: none; text-align: center; opacity: 0.8;" >
            <span style="font-size: 22px; "><b>List of Heroes</b></span>  </div>
        <div id = "databaseList" style =" width: auto; height: auto;   opacity: 0.8;"><b> </b></div>
    </div>



    <div style=" margin-left:0.5%; width:30%;height: 600px;  float: left;  background-color: #FAF5F5;    opacity: 0.8; padding-bottom: 40px">
        <div style="width: 100%;background-color: lightsteelblue; text-align: center ; ">
            <b><span id = "properties" style="font-size: 22px; ">Hero properties</span></b>
        </div>
        <div id="propertyList" style=" background-color: #FAF5F5;   opacity: 0.8; font-size:11pt;"></div>

        <br>

    </div>

    <div style="width:44.7%; height: 300px;background-color: #FAF5F5;
    opacity: 0.8; float: right">
        <div style="width: 100%;background-color: lightsteelblue; text-align: center;">
            <b><span  id = "history" style="font-size: 22px; ">Hero history</span></b>
        </div>

        <div id="historyLog" style=" background-color: #FAF5F5;   opacity: 0.8; font-size:11pt;"></div>


    </div>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!JavaScript!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

<section style="clear: both; padding-bottom: 40px; margin-bottom: 40px">
</section>
</div>
