<div class="header">
    <img src="img/shapka.jpg" align="middle" >
    <div style="position: absolute; width:100px;height: 100px;   margin: auto;   overflow:visible; z-index:101;
 top: 300px; left: 45%; bottom: auto; right: auto;">
        <img id="startGame" data-hash=" postToIframe({startBloodyBattle: true}, 'http://localhost:3030/startGame/', 'myIframe');" src="img/start.png" onmouseover="this.style.cursor='pointer'" >
    </div>

    <div id ="vs" style="position: absolute; width:200px;height: 200px;   margin: auto;   overflow:visible; z-index:98;
 top: 100px; left: 41%; bottom: auto; right: auto; visibility: hidden">
        <a href=""><img src="img/vs.png"></a>
    </div>

    <div id ="dethmatch" style="position: absolute; width:180px;height: 180px;   margin: auto;   overflow:visible; z-index:98;
 top: 90px; left: 43%; bottom: auto; right: auto; visibility: visible">
        <a href=""><img src="img/dethmatch.png"></a>
    </div>

    <div style="position:absolute;  z-index:100; top: 325px; left: 2px; text-align:left; border:2px solid red;
    border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px;">
        <span style="font-family:Arial;font-size:22px;font-weight:bold;color:red; text-shadow: 2px 2px black;">

        TYPE of GAME:
        <br>
        <input type="radio" name="typeOfGame" id="typeOfGameDm"  value="Deathmatch" checked="checked"> Deathmatch
        <input type="radio" name="typeOfGame" id="typeOfGameVs"  value="Versus" >X-Men versus Vampires
    </span>
    </div>

</div>

<div id="topBar" style=" width: 1024px;">

</div>

<div id="forMap" style="width: 1024px; display: none">


</div>

<div id="contentHolder" style="width: 1024px; ">

</div>

<div class="footer">
    <div style=" text-align:left; border:2px solid red;width: 260px; float: left; height: 35px;
border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; background-color:whitesmoke;">
<span style="font-family:Arial;font-size:22px;font-weight:bold;color:red; text-shadow: 1px 1px black;">
NUMBER of Heroes:
</span>
        <!--<iframe name="myiframe1" id="myiframe1" src="http://localhost:3030/get/numberOfLivingHero/"  width="30" height="25"  frameborder="no" ></iframe>-->


    </div>
    <div style=" vertical-align: middle; background-color:gray;width: 745px;left:500px; float:right; height: 26px;  padding: 3px;  border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; border:3px solid black; font-size:20px;">
        <form  action="" oninput="x.value=parseInt(a.value)">
            <span style="color:greenyellow; font-size:22px; font-weight: bold "> <input type="checkbox" name="map" value="showMap" id="showMap" style=" width: 20px; height: 20px" />Show MAP (Batlefield)</span>
            <b> Set the GAME speed: </b> 100 ms
            <input type="range" id="gameSped" name="a" value="3000" min="100" max="3000" data-value="postToIframe({timeBetweenSteps: this.value}, 'http://localhost:3030/setGame/', 'myIframe');"> 3000
            <output name="x" for="a" style="font-weight: bold;">3000</output>
        </form>


        <!--<iframe name="myIframe" id="myIframe" src="" width="744" height="40" style=" background-color: whitesmoke;left: 0; right: 0;"></iframe> <br>-->


    </div>



</div>