<div style="margin-top: 7px; margin-bottom:7px; height: 50px">
    <div    style=" text-align:center; border:2px solid #000000;width: 330px;  height: 45px;  line-height:45px; float: left;
    border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; background-color:greenyellow; opacity: 0.8">
        <div id="createHero" data-hash="createHero"  onmouseover="this.style.cursor='pointer'">
        <span data-hash="createHero" style="font-family:Arial;font-size:24px;font-weight:bold;color:#000000; text-shadow: 1px 1px white;">
        Form for Hero Creating
        </span>
        </div>
    </div>

    <div    style=" margin-left: 5px; text-align:center; border:2px solid #000000;width: 330px;  height: 45px; line-height:45px; float: left;
    border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; background-color:greenyellow; opacity: 0.8">
        <div id="changeProperties" data-hash="changeProperties" onmouseover="this.style.cursor='pointer'">
        <span data-hash="changeProperties" style="font-family:Arial;font-size:24px;font-weight:bold;color:#000000; text-shadow: 1px 1px white;">
        Form for Setting Properties
        </span>
        </div>
    </div>

    <div    style=" margin-left: 5px; text-align:center; border:2px solid #000000;width: 340px;  height: 45px; line-height:45px; float: left;
    border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; background-color:greenyellow; opacity: 0.8">
        <div id="showDatabase" data-hash="showDatabase" onmouseover="this.style.cursor='pointer'">
        <span data-hash="showDatabase" style="font-family:Arial;font-size:24px;font-weight:bold;color:#000000; text-shadow: 1px 1px white;">
        Database User Interface
        </span>
        </div>
    </div>
</div>
