<div style="align-content: center; margin-top: 5px;  padding-bottom: 40px">
    <form>

        <table>
            <tr><th>Heroes picture</th> <th>The list of properties</th>       <th>Input, set properties</th>      <th>Description of properties</th></tr>
            <tr> <td rowspan="35" width="200px" style="vertical-align: top">
                <img id="imgChange" src="./img/noAvatar.png" width="198px">
                <input id="inputImg" type="file" style="width: 150px">
            </td> <td style="color: red"><b> CHOOSE HERO </b></td> <td style="color: red;"><b>
                <select id = "heroSelect" style="color: red; font-weight: bold">
                    <option value="none">..Empty..</option>

                </select>  </b></td>       <td style="color: red"><b>With choice will load  data from server </b></td></tr>

            <tr><td><b>clan:</b></td> <td nowrap>
                <input type="radio" name="clan" id="clan"  value="true">X-Men
                <input type="radio" name="clan" id="clan2"  value="false" >Vampires</td>       <td>There are two clans of heroes X-Men and Vamoires. Make your choice</td></tr>

            <tr><td><b>name:</b></td>       <td><input type="text" name="name" id="name" size="20" maxlength="20" required></td>      <td> Input new Hero name. Note: Wolverine, Sweetdeath,Dracula has own default settings</td></tr>
            <tr><td class = "myClass"><b>features:</b></td>   <td class = "myClass"><textarea name="features" id="features" rows="2" cols="20">he's just a cool dude</textarea></td><td class = "myClass"> Description. Like this: can heal or recover, can fly, have six retractable claws,can drink blood etc. </td></tr>
            <tr><td class = "myClass"><b>hairСolor:</b></td>  <td class = "myClass"><input type="text" name="name" id="hairСolor" size="20" maxlength="20" value="black"></td><td class = "myClass"> Description. Like this: black. </td></tr>
            <tr><td class = "myClass"><b>beard:</b></td>      <td class = "myClass"><input type="text" name="name" id="beard" size="20" maxlength="20" value="cool"></td>  <td class = "myClass"> Description. Like this: small, cool. </td></tr>
            <tr><td class = "myClass"><b>tits:</b></td>       <td class = "myClass"><input type="text" name="name" id="tits" size="20" maxlength="20" value="no"></td>   <td class = "myClass"> Description. Like this: no, small, cool, big, wonderful  </td></tr>

            <tr><td class = "myClass"><b>sex: </b></td>       <td class = "myClass">
                <input type="radio" name="sex" id="sex"  value="true"  checked="checked"> Man
                <input type="radio" name="sex" id="sex2"  value="false" >Woman</td>        <td class = "myClass"> *** </td></tr>

            <tr><td class = "myClass"><b>health:</b></td>     <td class = "myClass"><input type="number" name="health" id="health" min="70" max="300" onKeyDown="" onchange="" value="100" step="10" size ="4" style="width: 50px"></td>  <td class = "myClass">An important property. For People normal grading 90-120. In Vampire depending on the class 150-200. </td></tr>
            <!--<tr><td class = "myClass"><b>maxHealth: </b></td> <td class = "myClass" id="maxHealth" >100</td></tr> <td class = "myClass" >100</td></tr>-->
            <tr><td class = "myClass"><b>power:</b></td>      <td class = "myClass"><input type="number" name="power" id="power" min="1" max="7" onKeyDown="" onchange="" value="2" step="1" size ="4" style="width: 50px"></td>  <td class = "myClass">An important property. For People normal grading 1-3. In Vampire depending on the class 2-5. </td></tr>
            <tr><td class = "myClass"><b>attackRange:</b></td><td class = "myClass"><input type="number" name="attackRange" id="attackRange" min="1" max="10" onKeyDown="" onchange="" value="4" step="1" size ="4" style="width: 50px"></td>  <td class = "myClass">An important property. For People normal grading 3-4. In Vampire depending on the class 3-6. </td></tr>
            <tr><td class = "myClass"><b>damage:</b></td>     <td class = "myClass"><input type="number" name="damage" id="damage" min="1" max="30" onKeyDown="" onchange="" value="10" step="1" size ="4" style="width: 50px"></td>  <td class = "myClass">An important property. For People normal grading 8-11. In Vampire depending on the class 8-20. </td></tr>
            <tr><td class = "myClass"><b>specDamage:</b></td> <td class = "myClass"><input type="number" name="specDamage" id="specDamage" min="1" max="30" onKeyDown="" onchange="" value="10" step="1" size ="4" style="width: 50px"></td>  <td class = "myClass">An important property. Depends on the hero's super kick. (10-25) </td></tr>
            <tr><td class = "myClass"><b>chanceSpecDamage:</b></td>   <td class = "myClass"><input type="number" name="chanceSpecDamage" id="chanceSpecDamage" min="10" max="90" onKeyDown="" onchange="" value="50" step="1" size ="4" style="width: 50px"></td>  <td class = "myClass">An important property. Chance to make super kick </td></tr>
            <!--<tr><td class = "myClass"><b>defence:</b></td>    <td class = "myClass"> 0</td></tr>-->
            <tr><td class = "myClass"><b>speed: </b></td>     <td class = "myClass"><input type="number" name="speed" id="speed" min="5" max="100" onKeyDown="" onchange="" value="10" step="1" size ="4" style="width: 50px"></td>  <td class = "myClass">An important property. For People near 10. For  Vampire 10-15 </td></tr>

            <tr><td class = "myClass"><b>canFly: </b></td>    <td class = "myClass">
                <input type="radio" name="canFly" id="canFly"  value="true"  checked="checked"> True
                <input type="radio" name="canFly" id="canFly2"  value="false" > False </td>   <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>


            <tr><td class = "myClass"><b>flySpeed: </b></td>  <td class = "myClass"><input type="number" name="flySpeed" id="flySpeed" min="5" max="90" onKeyDown="" onchange="" value="10" step="1" size ="4" style="width: 50px"></td>  <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>

            <tr><td class = "myClass"><b>canBeInvisible:</b></td><td class = "myClass">
                <input type="radio" name="canBeInvisible" id="canBeInvisible"  value="true"  checked="checked"> True
                <input type="radio" name="canBeInvisible" id="canBeInvisible2"  value="false" > False </td>   <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>


            <tr><td class = "myClass"><b>invisible: </b></td><td class = "myClass">
                <input type="radio" name="invisible" id="invisible"  value="true"  checked="checked"> True
                <input type="radio" name="invisible" id="invisible2"  value="false" > False</td>  <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>


            <tr><td class = "myClass"><b>canJump:</b></td><td class = "myClass">
                <input type="radio" name="canJump" id="canJump"  value="true"  checked="checked"> True
                <input type="radio" name="canJump" id="canJump2"  value="false" > False </td>     <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>


            <tr><td class = "myClass"><b>canTeleport: </b></td><td class = "myClass">
                <input type="radio" name="canTeleport" id="canTeleport"  value="true"  checked="checked"> True
                <input type="radio" name="canTeleport" id="canTeleport2"  value="false" > False</td>  <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>


            <tr><td class = "myClass"><b>canShoot: </b></td><td class = "myClass">
                <input type="radio" name="canShoot" id="canShoot"  value="true"  checked="checked"> True
                <input type="radio" name="canShoot" id="canShoot2"  value="false" > False</td>   <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>

            <tr><td class = "myClass"><b>canFreeze:</b></td><td class = "myClass">
                <input type="radio" name="canFreeze" id="canFreeze"  value="true"  checked="checked"> True
                <input type="radio" name="canFreeze" id="canFreeze2"  value="false" > False</td> <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>


            <tr><td class = "myClass"><b>isFreeze: </b></td><td class = "myClass">
                <input type="radio" name="isFreeze" id="isFreeze"  value="true"  checked="checked"> True
                <input type="radio" name="isFreeze" id="isFreeze2"  value="false" > False</td>   <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>

            <tr><td class = "myClass"><b>isFly:</b></td><td class = "myClass">
                <input type="radio" name="isFly" id="isFly"  value="true"  checked="checked"> True
                <input type="radio" name="isFly" id="isFly2"  value="false" > False</td>     <td class = "myClass">Note: option is not available, no impact on the game!</td></tr>

            <!--<tr><td class = "myClass"><b>freezeStepLeft:</b></td><td class = "myClass"> 0-->

            <tr><td class = "myClass"><b>canHealing:</b></td><td class = "myClass">
                <input type="radio" name="canHealing" id="canHealing"  value="true"  checked="checked"> True
                <input type="radio" name="canHealing" id="canHealing2"  value="false" > False</td>     <td class = "myClass">An important property. Can hero regenerate health or no.</td></tr>

            <tr><td class = "myClass"><b>healingMaxPoint: </b></td>   <td class = "myClass"><input type="number" name="healingMaxPoint" id="healingMaxPoint" min="5" max="30" onKeyDown="" onchange="" value="10" step="1" size ="4" style="width: 50px"></td>  <td class = "myClass">An important property. How many health points can restore.</td></tr>
            <tr><td class = "myClass"><b>hasVampBite: </b></td><td class = "myClass">
                <input type="radio" name="hasVampBite" id="hasVampBite"  value="true"  checked="checked"> True
                <input type="radio" name="hasVampBite" id="hasVampBite2"  value="false" > False </td>     <td class = "myClass">An important property. Vampires can drink blood and healing health. </td></tr>

            <tr><td class = "myClass"><b>level:</b></td><td class = "myClass" ><span id = "level">000 </span></td> <td class = "myClass">Current hero level</td>

            <tr><td class = "myClass"><b>lookForTrouble:</b></td><td class = "myClass">
                <input type="radio" name="lookForTrouble" id="lookForTrouble"  value="true"  checked="checked"> True
                <input type="radio" name="lookForTrouble" id="lookForTrouble2"  value="false" > False</td>      <td class = "myClass">An important property. Hero look for the nearest enemy and pursues it.</td></tr>

            <tr><td><b>X: </b></td><td> <input type="number" disabled name="x1" id="x" min="0" max="800"  onKeyDown="" onchange="" value="200" step="10" size ="4" style="width: 50px"> </td>    <td>An important property. Current X-coordinate.</td></tr>
            <tr><td><b>Y: </b></td><td> <input type="number" disabled name="x1" id="y" min="0" max="600"  onKeyDown="" onchange="" value="200" step="10" width="80" size ="4" style="width: 50px"> </td>    <td>An important property. Current Y-coordinate.</td></tr>
            <tr><td><b>heroID: </b></td><td> <input type="number" disabled name="heroID" id="heroID" min="0" max="20" value="-1" width="80" size ="4" style="width: 50px"> </td>    <td>An important property. Current unique Hero number.</td></tr>

            <!--<tr><td class = "myClass"><b>PathMapStep:</b></td><td class = "myClass"> 0-->
            <!--<tr><td class = "myClass"><b>walkedAllWay: </b></td><td class = "myClass">false-->
            <tr><td class = "myClass"><b>nextDestinationPointX:</b></td><td class = "myClass"> <input type="number" name="nextDestinationPointX" id="nextDestinationPointX" min="0" max="800" onKeyDown="" onchange="" value="200" step="10" size ="4" style="width: 50px"> </td>    <td class = "myClass">An important property. X-coordinate of the destination point.</td></tr>
            <tr><td class = "myClass"><b>nextDestinationPointY: </b></td><td class = "myClass"> <input type="number" name="nextDestinationPointY" id="nextDestinationPointY" min="0" max="800" onKeyDown="" onchange="" value="200" step="10" size ="4" style="width: 50px"> </td>    <td class = "myClass">An important property. Y-coordinate of the destination point.</td></tr>

        </table>


        <!--<input id="first" type="text" maxlength="10">-->
        <!--<input id="last" type="text">-->
        <!--<input id="age" type="text" maxlength="2">-->

        <div    style=" text-align:center; border:2px solid #000000;width: 320px;  height: 25px; line-height:25px;
    border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; background-color:yellow; opacity: 0.8">
            <div id="saveChangesBtn" onmouseover="this.style.cursor='pointer'">
        <span style="font-family:Arial;font-size:20px;font-weight:bold;color:#000000; text-shadow: 1px 1px white;">
        Buy new Changes and save Hero
        </span>
            </div>
        </div>
        <!--<button id="saveBtn">Save User</button>-->
    </form>
</div>